<a href="https://colab.research.google.com/github/Xiaojun-Wei/ML-keras-to-kubernetes-study-notes/blob/main/Ch2_%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

#2.4 解决简单的问题#

##2.4.1 无监督学习（Kmeans, 房价预测）##

In [ ]:
df = pd.read_csv("house_price.csv")
df.head(10)

   Area  Locality  Price
0   100         4     30
1   250         5     80
2   220         5     80
3   105         6     40
4   260         6     60
5   150         8    100
6   180         9    120
7   225         4     60
8    95         5     40
9   160         9    110

In [ ]:
# 使用k-means将数据分为3个cluster
from sklearn.cluster import KMeans
X = df[['Area', "Locality"]]
num_clusters = 3
model = KMeans(n_clusters=num_clusters)
model.fit(X)
# 预测并获得cluster标签 0, 1, 2
predictions = model.predict(X) 
df['cluster'] = predictions
df.head(10)

   Area  Locality  Price  cluster
0   100         4     30        0
1   250         5     80        1
2   220         5     80        1
3   105         6     40        0
4   260         6     60        1
5   150         8    100        2
6   180         9    120        2
7   225         4     60        1
8    95         5     40        0
9   160         9    110        2

In [ ]:
# 对结果进行排序
df_sorted = df.sort_values('cluster')
df_sorted

   Area  Locality  Price  cluster
0   100         4     30        0
3   105         6     40        0
8    95         5     40        0
1   250         5     80        1
2   220         5     80        1
4   260         6     60        1
7   225         4     60        1
5   150         8    100        2
6   180         9    120        2
9   160         9    110        2

##2.4.2 监督学习：线性回归##

In [ ]:
# 前8个点作为训练集
X_train = df[["Area", "Locality"]].values[:7]
Y_train = df[["Price"]].values[:7]
# 后2个点作为验证集
X_test = df[["Area", "Locality"]].values[7:]
Y_test = df[["Price"]].values[7:]

##2.4.4 梯度下降在线性回归中的作用##

In [ ]:
# 拟合线性回归模型
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, Y_train)
print("model weights are: ", model.coef_)
print("model intercept is: ", model.intercept_)

# 预测测试集中的一个点
print("predicting for ", X_test[0])
print("expected value ", Y_test[0])
print("predicted value ", model.predict([[225,4]]))

model weights are:  [[ 0.19319908 14.27643887]]
model intercept is:  [-49.75481457]
predicting for  [225   4]
expected value  [60]
predicted value  [[50.82073292]]

#2.5 分析更大的数据集#

In [5]:
df2 = pd.read_csv("wine_quality.csv")
df2.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [6]:
X = df2.drop(['quality'], axis = 1)
Y = df2[['quality']]

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

X_train.shape, Y_train.shape
X_test.shape, Y_test.shape

((320, 11), (320, 1))

#2.6 分类方法的比较#

In [43]:
# 逻辑回归分类器
from sklearn.metrics import precision_score
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(X_train, Y_train)
print("Precision for logistic regression: ", model1.score(X_test, Y_test))

Precision for logistic regression:  0.590625

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [44]:
from pandas.core.dtypes.common import needs_i8_conversion
# K临近（KNN）分类器
from sklearn.neighbors import KNeighborsClassifier
model2 = KNeighborsClassifier(n_neighbors = 20)
model2.fit(X_train, Y_train)
print("Precsion for KNN: ", model2.score(X_test, Y_test))

Precsion for KNN:  0.509375

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [51]:
# 决策树分类器
from sklearn.tree import DecisionTreeClassifier
model3 = DecisionTreeClassifier()
model3.fit(X_train, Y_train)
print("Precsion for Decision Tree: ", model3.score(X_test, Y_test))

Precsion for Decision Tree:  0.6

In [50]:
# 可视化决策树分类器
from sklearn.tree import export_graphviz
export_graphviz(model3, out_file='tree.dot', 
                feature_names=X_train.columns,
                class_names = str(range(6)),
                rounded = True, proportion=False,
                precision=1, filled=True)

In [7]:
3 # 随机森林分类器
from sklearn.ensemble import RandomForestClassifier
# 用100个随机数构建模型
model4 = RandomForestClassifier(n_estimators=100)
model4.fit(X_train, Y_train)
print("Precision for random forest (testing data): ", model4.score(X_test, Y_test))
print("Precision for random forest (training data): ", model4.score(X_train, Y_train))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

Precision for random forest (testing data):  0.65
Precision for random forest (training data):  1.0

#2.7偏置与方差：欠拟合与过拟合#

In [55]:
# logistic regression model
print("precison for training data: ", model1.score(X_train, Y_train))
print("precison for testing data: ", model1.score(X_test, Y_test))

precison for training data:  0.5871774824081314
precison for testing data:  0.590625